<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<h1><a href="{{ url_for('graph') }}">Graph</a></h1>
<table>
<h3>Daily Aggregate</h3>
  <tr>
    <th>Day</th>
      <th>Count</th>
    <th>Blood</th>
    <th>Pain</th>
      <th>Size</th>
  </tr>
{%- for v in daily -%}
    <tr>
    <td>{{ v[0] }}</td>
    <td>{{ v[1] }}</td>
    <td>{{ v[2] }}</td>
    <td>{{ v[3] }}</td>
    <td>{{ v[4] }}</td>
  </tr>

{%- endfor -%}
</table>
<hr>

<table>
<h3>Individual Occurrences</h3>
  <tr>
    <th>Time</th>
    <th>Blood</th>
    <th>Size</th>
      <th>Pain</th>
      <th>Notes</th>
  </tr>
{%- for v in value -%}
    <tr>
    <td>{{ v[0] }}</td>
    <td>{{ v[1] }}</td>
    <td>{{ v[2] }}</td>
    <td>{{ v[3] }}</td>
    <td>{{ v[4] }}</td>
  </tr>

{%- endfor -%}
</table>
</body>
</html>