<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
<h1>The Log Log</h1>

<table>
  <tr>
    <th>Time</th>
    <th>Blood</th>
    <th>Size</th>
      <th>Pain</th>
      <th>Notes</th>
  </tr>
{%- for v in value -%}
    <tr>
    <td>{{ v[0] }}</td>
    <td>{{ v[1] }}</td>
    <td>{{ v[2] }}</td>
    <td>{{ v[3] }}</td>
    <td>{{ v[4] }}</td>
  </tr>

{%- endfor -%}
</table>
</body>
</html>